{% extends 'blog_base.html' %}
{% load static %}


{% block content %}

{#     <link rel="stylesheet" href="{% static 'css/gfm.css' %}"/>#}
    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}"/>
    {% autoescape off %}
    <article>
    {#            about 数据对象 display 为方法#}
        <div class="blog_post">
    {#                <h2 class="blog_post_title"> About</h2>#}
    {#                <p class="blog_post_meta"> January 1, 2014 by <a href="">Shen Jie</a></p>#}
            <div class="blog_post_content">
                {{ about.display_html }}
            </div>

        </div>
    </article>
    {% endautoescape %}

{% endblock content %}