<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>JPollo Blog</title>

{#    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}"/>#}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/headhesive.css' %}"/>#}

    <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/jquery.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/easing.1.3.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'blog/js/headhesive.min.js' %}"></script>#}


    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/before_loading.js' %}"></script>


    <style type="text/css">
{#        .footer_test {#}
{#            background: url("{% static 'blog/img/social/social_all.png' %}");#}
    /*background: url("../img/social/social_all.png");*/
    /*background: url(../img/social/social_all.png) no-repeat right bottom;*/
}
    </style>


</head>

<body style="background-color: #f9f9f9">
<!-- 加载进度条 -->
{#    <div class="m_loading" >&nbsp  </div>#}
<div class="m_loading"></div>

<script type="text/javascript">
    var bgColor = randomColor();
    $('.m_loading').css({"background": bgColor});
</script>


{#<div class="blog_title">#}
{#    <div id="id_img_title"><img src={% static 'blog/img/about.jpg' %}  class="img_title" alt=""/></div>#}
{#    <div class="blog_title_slogan">#}
{#        Shen Jie <br/>#}
{#        <!-- Developer. -->#}
{#    </div>#}
{#</div>#}

<!-- STAGE 1 END-->
<script type="text/javascript">
    $('.m_loading').animate({'width': '20%'}, 50);  //第一个进度节点
</script>
{##}
{##}
<!--Head and Nav-->
<div class="section_header">
    <div class="container">
        <nav class="blog_nav">
            <a class="blog_nav_item" href="/blog">Home</a>
            <a class="blog_nav_item" href="/blog/archive/">Archive</a>
            <a class="blog_nav_item" href="/blog/about/">About</a>
        </nav>
    </div>
</div>

 <a id="showHere"></a>


<!-- STAGE 2    END-->
<script type="text/javascript">
    $('.m_loading').animate({'width': '40%'}, 50);  //第一个进度节点
</script>

<!--Blog Post-->
<div class="container">

    <!--博客内容-->
    <div class="col-sm-8 col-md-offset-2 blog_main">
        {% block content %}
            Need to be filled.
        {% endblock content %}
    </div>

    <!-- STAGE 3    END-->
    <script type="text/javascript">
        $('.m_loading').animate({'width': '85%'}, 50);  //第一个进度节点
    </script>

</div>


<!--Footer 置底-->

<div class="blog_footer">
    <p>www.jpollo.com</p>

    <p>&copy;2014 All rights reserved</p>
{#    <div>#}
{#        <img src="{% static 'blog/img/social/facebook.png' %}" alt=""/>#}
{#        <img src="{% static 'blog/img/social/twitter.png' %}" alt=""/>#}
{#        <img src="{% static 'blog/img/social/Github.png' %}" alt=""/>#}
{#        <img src="{% static 'blog/img/social/linkedin.png' %}" alt=""/>#}
{#        <img src="{% static 'blog/img/social/tumblr.png' %}" alt=""/>#}
{#    </div>#}
    <div class="footer_link">

{#        <div class="footer_test">#}
{#            <img src="{% static 'blog/img/social/social_all.png' %}" alt=""/>#}
{#        </div>#}
{#        <div class="footer_test"></div>#}
        <ul >
            <a href="https://twitter.com/jasonllinux" ><li class="sprite_footer" id="panel1b"></li></a>
{#            <li class="sprite_footer" id="panel1b"><a href="#1"></a></li>#}
            <a href="https://www.facebook.com/jasonllinux"> <li class="sprite_footer" id="panel2b"></li></a>
            <a href="https://plus.google.com/+ShenJie19891119/posts"> <li class="sprite_footer" id="panel3b"></li></a>
            <a href="https://github.com/jpollo"><li class="sprite_footer" id="panel4b"><a href="#3"></li></a>
        </ul>
    </div>
</div>



<!-- STAGE 4    END-->
<script type="text/javascript">
    $('.m_loading').animate({'width': '100%'}, 50);  //第一个进度节点

    // Set options
{#        var options = {#}
{#            offset: '#showHere',#}
{#            classes: {#}
{#                clone:   'banner--clone',#}
{#                stick:   'banner--stick',#}
{#                unstick: 'banner--unstick'#}
{#            }#}
{#        };#}

{#     var headhesive = new Headhesive('.section_header', options);#}

</script>


{#TODO  mathjax#}

{#<script type="text/javascript"#}
{#        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">#}
{#</script>#}
{##}
{#<script type="text/x-mathjax-config">#}
{#MathJax.Hub.Config({#}
{#    tex2jax: {#}
{#        inlineMath: [['$','$'], ['\\(','\\)']],#}
{#        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'] // removed 'code' entry#}
{#    }#}
{#{);#}
{#MathJax.Hub.Queue(function() {#}
{#    var all = MathJax.Hub.getAllJax(), i;#}
{#    for(i = 0; i < all.length; i += 1) {#}
{#        all[i].SourceElement().parentNode.className += ' has-jax';#}
{#    }#}
{#{);#}
{#</script>#}

</body>
</html>