{% extends 'blog_base.html' %}

{% load static %}
{% load read_more %}

{% block content %}

{#     <link rel="stylesheet" href="{% static 'css/gfm.css' %}"/>#}
    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}"/>

    <div id="home_page">

    {% for blogpost in blogposts|slice:sl %}
        {% autoescape off %}
            <article>
                {#            about 数据对象 display 为方法#}
                <div class="blog_post">
{#                    <header>#}
                    <p class="blog_post_meta">
                        <span class="year"> {{ blogpost.pub_date.year }}</span>
                        <span class="month"> {{ blogpost.pub_date|date:"M" }}</span>
                        <span class="day">{{ blogpost.pub_date.day }}</span>
                        {#                        {{ blogpost.pub_date }}#}
                    </p>

                    <h1><a class="blog_post_title" href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }} </a></h1>
                    {#                    </header>#}
                    {#  show blogs in list   #}
                    <div class="blog_post_content">
                        {{ blogpost.display_html | read_more:blogpost.get_absolute_url }}
                    </div>
                    <!-- TODO Category and Tag info-->
                </div>
            </article>
        {% endautoescape %}
    {% endfor %}

        <div class="page_nav">
            {% if prev_page %}
                <a   class="page_nav_icon" id="page_nav_prev" href="/blog/{{ prev_page }}"></a>
            {% endif %}

            {% if next_page %}
                <a class="page_nav_icon" id="page_nav_next" href="/blog/{{ next_page }}"></a>
            {% endif %}
        </div>
    </div>

{% endblock content %}
