@font-face {
    font-family: Monaco;
    src: url('../fonts/MONACO.TTF');
}

body {

    /*background-color: #428bca;*/
     /*background: #111;*/
    font-family: "Microsoft YaHei" ! important;
}

.blog_masterhead {
    text-align: center;
    /*height: 100px;*/
    margin-top: 10px;
    /*background-color: #428bca;*/
    background-color: #575757;
    box-shadow: 0 -3px 5px rgba(0,0,0,.1);
}


.blog_nav_item {
    font-family: Arial;
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding: 10px;
    /*margin-right: 20px;*/
    font-weight: 500;
    color: #cdddeb;
}

.blog_nav_item:hover,
.blog_nav_item:focus {
    color: #fff;
    text-decoration: none;
}
.blog_nav .active {
    color: #fff;
}

.blog_nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    vertical-align: middle;
}


/*TODO */
.blog_main {
    font-size: 18px;
    line-height: 1.4;
    /*margin-top: 30px;*/
}


/*TODO 需要fix*/
/*每篇博客之间的距离*/
.blog_post {
    margin-top: 35px;
}

.blog_post_title:hover,
.blog_post_title:focus {
    text-decoration: none;
}

.blog_post_meta_link:hover,
.blog_post_meta_link:focus {
    text-decoration: none;
}


.blog_post_title {
    /*margin-bottom: 150px;*/
    /*background-color: #000080;*/
    font-size: 40px;
}

/*显示的blog日期与title的距离  bootstrap中设置了较高的margin值*/
.blog_post h1 {
    margin-top: 0px;
}

/*.blog_post p {*/
    /*margin-bottom: 0px;*/
/*}*/

.blog_post_meta {
    /*margin-bottom: 20px;*/
    color: #999;
}


/*article .blog_post {*/
#home_page article{
    /*为了调整 首页 文章与文章之间的距离和分割线*/
    padding-bottom: 20px;
    background: url("../img/title_bg.png") bottom left repeat-x;
}

#home_page article:last-child {
    background: none;
}
/*article .blog_post:last-child {*/
   /*background: none;*/
/*}*/

/*.blog_single_page .blog_post_title {*/
    /*padding-bottom: 20px;*/
    /*background: url("../img/title_bg.png") bottom left repeat-x;*/
/*}*/



article header {
    /*单篇blog中题目下方的距离与分割线*/
    background: url("../img/title_bg.png") bottom left repeat-x;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

article .blog_post_meta {
    /*margin-bottom: 0;*/
    /*padding-bottom: -10px;*/
    /*background-color: #000000;*/
}


/*TODO 首页中得页面内容与title的距离*/
article .blog_post_content {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*
-------------------Footer-----------------
*/
.blog_footer {
    margin-top: 30px;
    /*padding: 30px 0;*/
    padding-top: 30px;
    padding-bottom: 20px;
    color: #999;
    text-align: center;
    /*background-color: #f9f9f9;*/
    /*background-color: #e0e0e0;*/
    background-color: #2f2f2f;
    /*border-top: 1px solid #e9e5e5;*/
    border-top: 1px solid #aeaeae;
    /*border-bottom: #f9f9f9;*/
    box-shadow: 0 -2px 5px rgba(0,0,0,.1);
    /*opacity: 0.4;*/
}

.social_icon img {
    height: 25px;
    margin-right: 16px;
}
/*------------END Footer-------------*/



/* --------------  博客头部  ----------*/
.blog_title {
    margin-top: 18px;
    text-align: center;
    /*background-color: #999;*/
}

.blog_title_slogan {
    font-size: 15px;
    font-family:'Oregano', cursive, Serif, Sans-serif, sans-serif, Verdana, Arial, Helvetica;
    margin-top: 12px;
}


.img_title {
    width:108px;height:108px;
    /*设置图像的长和宽*/
    border-radius: 54px;
    /*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/
    -webkit-border-radius: 54px;
    /*圆角效果：兼容webkit浏览器*/
    -moz-border-radius:54px;
    box-shadow: inset 0 -1px 0 #3333sf;
    /*设置图像阴影效果*/
    -webkit-box-shadow: inset 0 -1px 0 #3333sf;
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    /*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/
    -moz-transition: -moz-transform 0.4s ease-out;
}

/* --------------END  博客头部  ----------*/

.page_nav {
    height: 60px;
    font-size: .95em;
    position: relative;
}

.page_nav a {
    padding-top: 30px;
    text-decoration: none;
    color: #aaa;
}

.page_nav a:hover {
    color: rgb(1, 129, 235);
    text-decoration: none;
}
.page_nav a.prev {
    position: absolute;
    left: 100px;
}

.page_nav a.next {
    position: absolute;
    right: 100px;
}


.blog_nav a {
    font-size: 1.2em;
    font-family: 'Varela Round';
    margin: 0 18px;
}


/* TODO  blog 内容中 英文字体*/
/*.blog_post_content h2{*/
    /*font-family: Monaco;*/
/*}*/

/*.blog_post_content h1 {*/
    /*font-family: Monaco;*/
/*}*/
/*.blog_post_content h3 {*/
    /*font-family: Monaco;*/
/*}*/
/*.blog_post_content h4 {*/
    /*font-family: Monaco;*/
/*}*/

.blog_post_content {
    font-family: Monaco;
}


/*   TAG CSS*/
.blog_post_tag {
    margin-top: 25px;
    margin-bottom: 25px;
    /*background-color: #ffffff;*/
    /*background-color: #902000;*/
    height: 40px;
    line-height: 40px;
    text-align: left;
    /*float: left;*/
    padding-left: 5px;
    /*margin-bottom: 20px;*/
}

.tag_img {
    margin-left: 5px;
    margin-right: 10px;
}

.blog_post_tag ul {
    margin-left: 0px;
    padding-left: 0px;
    /*TODO tag 垂直居中*/
    /*padding-top: 5px;*/
    list-style: none;
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*padding-left: 14px;*/
    /*vertical-align: middle;*/
    /*background-color: #007020;*/
}

ul.blog_post_tag_list {
    display: inline-block;
    list-style: none;
}

.tag_item {

    font-size: .9em;
    height: 30px;
    line-height: 30px;

    text-align: center;
    vertical-align: middle;
    /*background-color: #aeaeae;*/
    /*background-color: #aeaeae;*/
    /*background-color: #e5e5e5;*/
    background-color: #bfbfbf;
    position: relative;
    display: inline-block;
    /*overflow: hidden;*/
    padding-left: 12px;
    padding-right: 12px;

    border-left: 1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;

    box-shadow: 2px 1px 2px rgba(0,0,0,.1);

    margin-right: 10px;
}


/*#single_page .blog_post_content{*/
.blog_post_tag{
    border-bottom: 1px solid #ddd;;
    padding-bottom: 4em;
    width: 100%
    /*margin-bottom: 30px;*/
/*border-top: 1px solid #fff;*/
}