{% extends 'blog_base.html' %}

{% load static %}


{% block content %}

{#     <link rel="stylesheet" href="{% static 'css/gfm.css' %}"/>#}
    <link rel="stylesheet" href="{% static 'css/friendly.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/archive.css' %}"/>

{#    {% for posts_by_year in data %}#}
    <div id="main">
        <div id="content">
            <article role="article">
                <div id="blog-archives">
                    {% for year, blogposts in posts_by_year %}

                        <h2>{{ year }}</h2>
                        {% for blogpost in blogposts %}
                            <article>
                                <h1><a href="{{ blogpost.get_absolute_url }}"
                                       class="archive_title">{{ blogpost.title }}</a></h1>
                                <time datetime="{{ blogpost.pub_date }}">
                                    <span class="month"> {{ blogpost.pub_date|date:"M"|upper }}</span>
                                    <span class="day">{{ blogpost.pub_date.day }}</span>
                                </time>
                                <footer class="categories">
                                    posted in <a  class="category" href="">{{ blogpost.category }}</a>
                                </footer>
                            </article>
                        {% endfor %}
                    {% endfor %}
                </div>

            </article>
        </div>
    </div>

{#    {% endfor %}#}



{% endblock content %}
