<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>JPollo Blog</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.1.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>

        <!-- TODO author description abstract -->

    </head>

    <!--TODO Move To CSS-->
    <body style="background-color: #f9f9f9">

     <div class="blog_title">
            <img src={% static 'img/about.jpg' %} class="img_title" alt=""/>
            <div class="blog_title_slogan">
                Shen Jie <br/>
                Developer.
            </div>
        </div>

        <!--Head and Nav-->
        <div class="blog_masterhead">
            <div class="container">
                <nav class="blog_nav">
                    <a class="blog_nav_item" href="/blog/" >Home</a>
                    <a class="blog_nav_item" href="/blog/archive/" >Archive</a>
                    <a class="blog_nav_item" href="/blog/about/" >About</a>
                </nav>
            </div>
        </div>

        <!--Blog Post-->
        <div class="container">
            <!--Left sidebar-->
            <div class="col-sm-2">

            </div>

            <!--博客内容-->
            <div class="col-sm-8 blog_main">
                <!--Head and Nav-->
                <!--<div class="blog_masterhead">-->
                        <!--<nav class="blog_nav">-->
                            <!--<a class="blog_nav_item" href="" >Home</a>-->
                            <!--<a class="blog_nav_item" href="" >Archive</a>-->
                            <!--<a class="blog_nav_item" href="" >About</a>-->
                        <!--</nav>-->
                <!--</div>-->
                <!--  -->
    {#            <div class="blog_post">#}
    {#                <h2 class="blog_post_title"> Title</h2>#}
    {#                <p class="blog_post_meta"> January 1, 2014 by <a href="">Shen Jie</a></p>#}


                        {% block content %}
                            Need to be filled.
                        {% endblock content %}

    {#            </div>#}
            </div>

            <!--Right Sidebar-->
            <div class="col-sm-2">

            </div>
        </div>


        <!--Footer 置底-->
        <!--TODO 显示社交图标-->

        <div class="blog_footer">
            <p>Blog is built by Shenjie</p>
            <p> All Rights Reserved</p>
            <!--TODO icon-->
            <div class="social_icon">
                <a href="https://github.com/jpollo"><img src="{% static 'img/webicon-github-m.png' %}"  alt=""/> </a>
                <a href="google.com/+ShenJie19891119"><img src="{% static 'img/webicon-googleplus-m.png' %}"  alt=""/> </a>
                <a href="http://www.linkedin.com/pub/shen-jie/85/10/5b3"><img src="{% static 'img/webicon-linkedin-m.png' %}"  alt=""/> </a>
                <a href="https://twitter.com/jasonllinux"><img src="{% static 'img/webicon-twitter-m.png' %}"  alt=""/> </a>
            </div>
        </div>


         <script type="text/javascript">
             jQuery(document).ready(function ($) {
                 // Get current url
                 // Select an a element that has the matching href and apply a class of 'active'. Also prepend a - to the content of the link
                 var url = window.location.href;
{#                 alert(url)#}
                 // Absoulete Url
                 //$('.menu a[href="' + url + '"]').addClass('current_page_item');
{#                 $('.blog_nav_item a').filter( function () { return this.href == url; } ).addClass('better-active')​;#}

                 $('.blog_nav a ').filter(
                         function() {
{#                            alert(url + "\n" +this.href)#}
{#                            alert(this.href == url)#}
                            return this.href == url;
                         }
                 ).addClass('current_page_item');

             })

         </script>
    </body>
</html>