{% extends 'admin/base.html' %}

{% load static %}


{% block content %}

{#     <link rel="stylesheet" href="{% static 'css/gfm.css' %}"/>#}
    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}"/>

    {% for blogpost in blogposts %}
        {% autoescape off %}
            <article>
                {#            about 数据对象 display 为方法#}
                <div class="blog_post">
                    <h2 class="blog_post_title"> {{ blogpost.title }}</h2>

                    <p class="blog_post_meta"> {{ blogpost.pub_date }} by <a href="">Shen Jie</a></p>
                    {#  show blogs in list   #}
                    <div class="blog_post_content">

                        {{ blogpost.display_html }}
                    </div>
                </div>
            </article>
        {% endautoescape %}
    {% endfor %}

{% endblock content %}


